@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <br>
    <h2 class="display-2">Bienvenidos</h2>
    <br>
    <h1 class="display-4">A La Campaña de Salones Empresariales XYZ</h1>
    <br>
    <br>
    <p><a>Outsourcing S.A. tiene una campaña telefonica nueva del cliente "SALONES EMPRESARIALES XYZ"; el servicio consiste en atenderllamadas de clientes potenciales de "SALONES EMPRESARIALES XYZ" en las que desean informacion para reservar salones para eventos de sus empresas.</a>.</p>
    <br>
</div>
